<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<base href="/"/>
		<link rel="stylesheet" href="../../../css/style.css" />
	</head>
	<body>
		
		<!--nav-->
		<div class="wrap">
			<div class="nav_wrap">
				<div class="logo2">
					<img src="../../../img/logo2.png" />
				</div>
				<ul class="nav">
					<li class="other  ons">
						<a href="#" class="icon1">主<span></span>页</a>
					</li>
					<li  class="other">
						<a href="#" class="icon2">院<span></span>系</a>
					</li>
					<li >
						<a href="#" class=" icon3">联系我们</a>
					</li>
					<li >
						<a href="#" class="icon4">关于主页</a>
					</li>
				</ul>
				<div class="visit">
					<p class="all"><span>总访问量</span>：1042.50万</p>
					<p class="today">今日访问量：23376</p>
				</div>
			</div>
		</div>
		<!--right-->
		<div th:each="lab : ${pageInfo.getList()}" class="cont">
			<div class="search2">
				<form action="/searchLab/page/1/1" method="get">
				    <input type="text" name="labName" class="inp" th:placeholder="${lab.getName()}">
					<input type="submit" name="submit" value="点击搜索" class="btn">
				</form>
			</div>
			<!--研究团队-->
			<div class="research intro">
				<div class="item">
					<div class="item_top">
						<div class="item_pic">
							<img src="../../../img/pic2.png" />
						</div>
						<div class="item_topic">
							<h1 th:text="${lab.getName()}">半导体化电力系统研究中心</h1>
<!--							<p>Center for Semiconducting Power System</p>-->
							<ul>
								<li class="i1">
									<h6>学院</h6>
									<span th:text="${lab.getCollegeName()}">电气与电子工程学院</span>
								</li>
								<li class="i2">
									<h6>电话</h6>
									<span th:text="${lab.getPhone()}">027-87558627</span>
								</li>
								<li class="i3">
									<h6>邮箱</h6>
									<span th:text="${lab.getEmail()}">cspshust@126.com</span>
								</li>
								<li class="i4">
									<h6>地址</h6>
									<span th:text="${#httpServletRequest.getContextPath()}">湖北省武汉市洪山区珞喻路1037号</span>
								</li>
								<li class="i5 oli_last">
									<h6>研究领域</h6>
									<h6 th:each="research : ${hashMap[__${lab.getId()}__]}">
										<!--                <li th:each="lab : ${labs}">-->
										<span th:text="'-  '+${research.getName()}">-  可再生能源发电设备及其控制等</span><br>
									</h6>
<!--									<span>-  电力电子化电力系统稳定性分析理论与控制方法</span><br>-->
<!--									<span class="second">-  故障分析理论及保护方法等</span><br>-->
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="item_bottom">
						<div class="titles">
							研究团队
						</div>
						<div class="abstract">
							<p class="con" th:text="${#strings.abbreviate(lab.getIntroduction(),190)}">
								为了应对电力系统电力电子化变革的新形势，半导体化电力系统研究中心(Center for Semiconducting Power Systems，CSPS)于2011年成立。致力于为半导体化电力系统的安全稳定运行提供理论与技术支
撑。主要研究领域包括：电力电子化电力系统稳定性分析理论与控制方法、故障分析理论及保护方法等。中心建立了适用于电力电子化电力系统动态分析的幅频动力学体系（基于幅频运动方程的不同尺度设备和网络建
模理论、基于自稳性/致稳性的动态相互作用分析方法、以及基于广义稳定器的稳定控制方法）。未来将在实践中不断完善和丰富幅频动力学理论和方法，引领国际相关学术研究的方向和思路...		             
							</p>
							<a href="#" th:href="${lab.getIntroductionLink()}"> 阅读详情</a>
						</div>
						<div class="picScroll-left">
							<div class="hd">
								<a class="next"></a>
								<a class="prev"></a>
							</div>
							<div class="bd">
								<ul class="picList">
									<li th:each="teacher : ${teacherMap[__${lab.getId()}__]}">
										<div class="pic"><a href="" th:href="'../searchTeacher/searchById?id='+${teacher.getId()}" target="_blank"><img src="../img/shi1.png" th:src="@{'http://faculty.hust.edu.cn/'+${teacher.getImg()}}"/></a></div>
										<div class="title">
											<a href="#" th:href="'../searchTeacher/searchById?id='+${teacher.getId()}" target="_blank">
												<h6 th:text="${teacher.getName()}">袁小明</h6>
												<p th:text="|${teacher.getProrank()}| + '  '+ ${teacher.getTutor()}">教授&nbsp;&nbsp;博士生导师</p>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bot">
				<!--研究成果-->
			
				<div class="active active2">
					<div class="titles">
						<p>研究成果</p>
						<h4 th:text="${lab.getName()}">异步电机机电时间尺度有效惯量评估及其对可再生能源并网系统频率动态的影响</h4>
					</div>

					<ul class="acti_list">
						<li th:each="researchResult : ${researchResultMap[__${lab.getId()}__]}">
							<a th:href="${researchResult.getLink()}" href="#" th:text="${#strings.abbreviate(researchResult.getTitle(),80)}"}>暑期工作会议师生凝聚共识加快内涵发展实施倍增计划</a>
						</li>
					</ul>
				</div>
				<!--教师动态-->
				<div class="active">
					<div class="titles">
						<p>实验室动态</p>
						<h4 th:text="${lab.getName()}">274名新进教职工参加岗前培训暨师德师风教育活动</h4>
					</div>
					<ul class="acti_list">
						<li th:each="news :${webnewsHashMap[__${lab.getId()}__]}">
							<a href="#"th:href="${news.getLink()}" th:text="${news.getTitle()}">暑期工作会议师生凝聚共识加快内涵发展实施倍增计划</a>
							<span th:text="${news.getDate().toString().substring(0,10)}">2019-09-02</span>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			
				<!--翻页-->
				<div class="scol">
					<div class="scol_fir">
						<td th:switch="${pageInfo.pageNum}">
							<p th:case="1"><a th:href="|searchLab/page/1/${pageInfo.pageSize}|">上一页</a></p>
							<p th:case="*"><a
									th:href="|searchLab/page/${pageInfo.pageNum -1}/${pageInfo.pageSize}|">上一页</a>
							</p>
						</td>
						<!--                <a href="#"-->
						<!--                   th:href="|searchTeacher/page/${pageInfo.pageNum}-1/${pageInfo.pageSize}|">上一页</a>-->
					</div>
					<ul>
						<!--						<li class="oli">-->
						<!--							<a href="#">1</a>-->
						<!--						</li>-->
						<li th:each="num :${pageInfo.getNavigatePageNums()}"
							th:class="${num==pageInfo.pageNum?'oli':''}">
							<a href="" th:href="|searchLab/page/${num}/${pageInfo.pageSize}|" th:text="${num}">2</a>
						</li>


					</ul>
					<div class="scol_last">
						<!--                <a href="#" th:href="|searchTeacher/page/${pageInfo.pageNum + 1}/${pageInfo.pageSize}|">下一页</a>-->
						<td th:switch="${pageInfo.pageNum}">
							<p th:case="${pageInfo.pages}"><a
									th:href="|searchLab/page/${pageInfo.pages}/${pageInfo.pageSize}|">下一页</a></p>
							<p th:case="*"><a
									th:href="|searchLab/page/${pageInfo.pageNum +1}/${pageInfo.pageSize}|">下一页</a>
							</p>
						</td>
					</div>
				</div>
			</div>
			
			<!--footer-->
		<div class="footer2">
			<p>版权所有：华中科技大学网络与信息化办公室&nbsp;&nbsp;&nbsp;地址：湖北省武汉市洪山区珞喻路1037号&nbsp;&nbsp;&nbsp;邮政编码：430074</p>
		</div>
			
		</div>
		
		
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../js/jquery.SuperSlide.js" ></script>
		<script type="text/javascript" src="../js/style.js" ></script>
		<script>
			$(".scol ul li").click(function(){
			//	alert(11);
				var index = $(".scol ul li").index();
				$(this).eq(index).addClass("oli").siblings().removeClass("oli");
				console.log($(this));
				
			})
			jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",vis:6,pnLoop:false});
		</script>
	</body>
</html>
